<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyDRgusoZ3Ep3vRmJeB2GEf_EcdetFzGIfg</string>
	<key>GCM_SENDER_ID</key>
	<string>747905689630</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.code</string>
	<key>PROJECT_ID</key>
	<string>flutterauth-ff1a9</string>
	<key>STORAGE_BUCKET</key>
	<string>flutterauth-ff1a9.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:747905689630:ios:6612a41a448cd24db8260f</string>
</dict>
</plist>